.text {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("background.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
}
.navbar {
  background-image: url("backgrund.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
}
