body{
    background-image: linear-gradient(to right,  rgba(255, 255, 0, 0.664) , rgba(255, 166, 0, 0.664));">
}
a{
    text-decoration: none;
}
p{
    
    text-align: center;
    margin: 5px;
    border: 1px solid blue;
    padding: 4px;
}
.btn{
    width: 100%;
}